<!--Para que pueda indentificar a la carpeta Models-->
@using M2_NETCoreMVC.Web.Areas.Marketing.Models;

@{  
    var products = ViewBag.ProductList as List<Product>;
}

<h1>Products with ViewBag</h1>


<table id="tbProducts" class="table table-active">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Title</th>
            <th>Maker</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
        <!--doble tab para que te aparesca su sintaxis-->
        <!--va a recorrer el products-->
        @foreach (var item in products)
        {
            <tr>
                <!--aca vamos poniendo cada uno de los valores de cada objeto-->
                <!--Mostrando el ID-->
                <td>@item.Id</td>

                <td>@item.Description</td>

                <td>
                    <!--Cuando presionen ese href sera el Url-->
                    <a href="@item.Url" target="_blank">@item.Title</a>
                </td>

                <td>
                    <img src="@item.Img" style="height:40px;width:40px" />
                </td>
                <td></td>
            </tr>


        }

    </tbody>
</table>
